#main{
    text-align:center;
    background-color:#92A8D1;
    width:100%;
    max-width:600px;
    margin:auto;
    padding:1.8rem 1rem;
    min-height:150px;
  }
  #mig{
    width:500px;
    height:300px;
    margin-bottom:4%;
  }
  input{
    font-size:23px;
    margin-bottom:3%;
    text-align:center;
  }
  button{
    font-size:20px;
    background-color:#7FCDCD;
    cursor:pointer;
  }
  #op{
    font-weight:bold;
    margin-top:3%;
    font-size:23px;
  }
  li{
    list-style:none;
    display:inline-block;
    padding:0.5rem; 
  }
  footer{
    max-width:500px;
    max-height:95px;
    margin:auto;
    margin-left:37%;
    padding-top:2%;
  }